<?xml version="1.0"?>
<!--
/**
 * Miyabara_FeaturedProduct
 *
 * @copyright © 2026 Diego M. Miyabara. All rights reserved.
 * @author    Diego M. Miyabara <diego.miyabara@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <featured_product>
            <general>
                <enabled>0</enabled>
                <sku/>
                <refresh_interval>15</refresh_interval>
            </general>
        </featured_product>
    </default>
</config>
