<?xml version="1.0"?>
<!--
/**
 * Miyabara_FeaturedProduct
 *
 * @copyright © 2026 Diego M. Miyabara. All rights reserved.
 * @author    Diego M. Miyabara <diego.miyabara@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <!-- Preferences for Service Contracts -->
    <preference for="Miyabara\FeaturedProduct\Api\GetSalableQtyInterface"
                type="Miyabara\FeaturedProduct\Model\GetSalableQty"/>
    <preference for="Miyabara\FeaturedProduct\Api\Data\StockUpdateInterface"
                type="Miyabara\FeaturedProduct\Model\Data\StockUpdate"/>

    <!-- start custom cache -->
    <virtualType name="Miyabara\FeaturedProduct\Model\Cache\StockVersionCache"
                 type="Magento\Framework\Cache\Frontend\Decorator\TagScope">
        <arguments>
            <argument name="frontend" xsi:type="object">Magento\Framework\App\Cache\Type\Collection</argument>
            <argument name="tag" xsi:type="string">MIYABARA_FEATURED_STOCK</argument>
        </arguments>
    </virtualType>
    <type name="Miyabara\FeaturedProduct\Model\StockVersion">
        <arguments>
            <argument name="cache" xsi:type="object">Miyabara\FeaturedProduct\Model\Cache\StockVersionCache</argument>
        </arguments>
    </type>
    <!-- end custom cache -->

    <!-- Plugins on Inventory APIs to refresh stock versions -->
    <type name="Magento\InventoryApi\Api\SourceItemsSaveInterface">
        <plugin name="miyabara_featuredproduct_bump_stock_version_on_source_items_save"
                type="Miyabara\FeaturedProduct\Plugin\BumpStockVersionOnSourceItemsSave"/>
    </type>
    <type name="Magento\InventoryReservationsApi\Model\AppendReservationsInterface">
        <plugin name="miyabara_featuredproduct_bump_stock_version_on_append_reservations"
                type="Miyabara\FeaturedProduct\Plugin\BumpStockVersionOnAppendReservations"/>
    </type>
</config>
